{% extends "layout.html" %}

{% block title %}Espiegle : Rank{% endblock %}

{% block main %}
    <div class="container">
        <div class="table-responsive table-borderless text-center shadow-sm">
            <table class="table table-bordered table-sm">
                <tbody>
                    <tr>
                        {% for rank in allrank %}
                            <td class="text-center" style="padding: 0px;width: 10%;"><a href="#">{{ rank["id"] }}</a></td>
                            <td style="padding: 0px;width: 50%;">{{ rank["nom"] }}</td>
                            <td style="padding: 0px;width: 40%;">{{ rank["autheur"] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}